@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
button,
select,
a,
div,
span,
svg {
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: "Lato", sans-serif;
  color: white;
  @apply bg-background;
}

.grad-card {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0.672) 70%
  );
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.loading-card {
  background-color: rgb(36, 36, 36);
  animation: breath 600ms alternate infinite;
}
.loading-card span,
.loading-text {
  background-image: linear-gradient(
    45deg,
    rgb(58, 58, 58) 40%,
    rgb(80, 80, 80) 40%,
    rgb(80, 80, 80) 60%,
    rgb(58, 58, 58) 60%
  );
  background-size: 300%;
  animation: animate 1000ms linear infinite;
}

@keyframes animate {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@keyframes breath {
  0% {
    background-color: rgb(36, 36, 36);
  }

  100% {
    background-color: rgb(42, 42, 42);
  }
}

.grid-movie {
  @apply grid xl:grid-cols-6 lg:grid-cols-5 md-x:grid-cols-4 sm:grid-cols-3 xs:grid-cols-2 grid-cols-1 gap-6 justify-items-center;
}
