@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

input,
textarea,
button,
select,
a,
div,
span,
svg {
  -webkit-tap-highlight-color: transparent;
}
body {
  font-family: "Lato", sans-serif;
  color: white;
  @apply bg-background;
}

.grad-card {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0.672) 70%
  );
}

.scrollbar::-webkit-scrollbar {
  display: none;
}
